@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Thin.eot');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-ThinItalic.eot');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik-SuperItalic.eot');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.eot');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Black.eot');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Semibold.eot');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik Super';
    src: url('../fonts/Graphik-Super.eot');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-ExtralightItalic.eot');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BlackItalic.eot');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-RegularItalic.eot');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Light.eot');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold.eot');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-BoldItalic.eot');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-SemiboldItalic.eot');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-LightItalic.eot');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Extralight.eot');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-MediumItalic.eot');
    font-weight: 500;
    font-style: italic;
}