*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
header{
    width: 100%;
    background: url("../images/background.png") no-repeat center;
    background-size: cover;
    height: 930px;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.header{
    width: 1210px;
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav{
    display: flex;
    gap: 31px;
    align-items: center;
}
nav a{
    font-family: 'Graphik', sans-serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.header_link a{
    text-decoration: none;
}
.header_link{
    display: flex;
    gap: 24px;
    align-items: center;
}
.title{
    font-family: 'Graphik', sans-serif;
    font-size: 74px;
    color: #fff;
    width: 692px;
    text-align: center;
    margin: 100px auto 0;
}
.subtitle{
    font-family: 'Graphik', sans-serif;
    font-size: 28px;
    color: #fff;
    width: 786px;
    text-align: center;
    margin: 7px auto 0;
    display: block;
}
.btn{
    font-family: 'Graphik', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 16px 62px;
    background: #2091F9;
    border-radius: 35px;
    color: #fff;
    text-decoration: none;
}
.welcome_block .btn{
    margin: 60px auto 0;
    width: max-content;
    display: block;
}
.title_block{
    font-family: 'Graphik', sans-serif;
    font-size: 48px;
    font-style: normal;
    color: #252B42;
    text-align: center;
    margin-top: 116px;
}
.subtitle_block{
    font-family: 'Graphik', sans-serif;
    font-size: 24px;
    color: #374754;
    text-align: center;
    width: 532px;
    margin: 17px auto 0;
    display: block;
}
.item{
    width: 255px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.item img{
    width: 61px;
    height: 61px;
}
.item h3{
    font-family: 'Graphik', sans-serif;
    font-size: 20px;
    color: #252B42;
    font-weight: 700;
}
.item span{
    font-family: 'Graphik', sans-serif;
    font-size: 18px;
    color: #374754;
    font-weight: 400;
}
.features_items{
    width: 869px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 0;
}
.preview{
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}
.video{
    position: relative;
    height: 762px;
    margin-top: 80px;
}
.play{
    position: absolute;
    z-index: 5;
    padding: 70px;
    background: #2091F9;
    border-radius: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.desktop_text .title_block{
    text-align: left;
    width: 335px;
    margin: 0;
}
.desktop_hero .container{
    width: 1243px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desktop_text .subtitle_block{
    text-align: left;
    width: 532px;
    margin: 7px 0 0;
}
.desktop_text .btn{
    margin-top: 60px;
    display: block;
    width: max-content;
}
.desktop{
    width: 624px;
    height: 350px;
}
.desktop_hero{
    padding: 226px 0;
}
.light .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.uptitle{
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #252B42;
}
.light_text .title_block{
    letter-spacing: 0.2px;
    font-size: 48px;
    margin: 0;
    width: 324px;
    text-align: left;
    margin-bottom: 15px;
}
.form_title{
    width: 276px;
    font-family: 'Graphik',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.form_subtitle{
    width: 301px;
    font-family: 'Graphik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #374754;
}
.input_text{
    padding: 19px 39px;
    width: 273px;
    height: 54px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;

}